

<div class="row">
	<div class="col-md-4">
		<h2>
			<strong>Name:</strong>
		  <%= @user.name %>
		</h1>
		<br>

		<%= render 'users/follow_form'%>
		<br>
		<aside>
			<%= render 'shared/stats' %>
		</aside>

	</div>
	
	<div class="col-md-8">
		<% if !@articles.nil? %>
			<% @articles.each do |a| %>
				<%= render 'articles/article', article:a %>
			<% end %>
		<% end %>
	</div>
</div>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
