<br>
<br>
<div class="jumbotron">
  <h1 class="display-4">Welcome to MY Blog <%= "#{current_user.name}" if logged_in? %>! </h1>

  <hr class="my-4">
  <% if !logged_in? %>
  <p class="lead text-center">
    <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  </p>
  <% end %>
</div>

<% if logged_in? %>
<div class="row">
	<div class="col-md-12">
		<%= render 'articles/article_form' %>
	</div>
  <div class="col-md-12">
      <h3>Articles Feed</h3>
      <% if @feed_items.any? %>
        <ol class="articles">
          <% @feed_items.each do |fe| %>
          <%= render 'articles/article', article:fe %>
          <% end %>
        </ol>
        <%= will_paginate @feed_items %>
      <% end %>
  </div>

</div>
<% end %>